<% provide(:page_title, 'Stories') %>
<% if params[:tag].blank?
  provide(:page_title2, 'Alle Stories')
  else
  provide(:page_title2, params[:tag]) 
  end %>
<% provide(:stories_active, 'active') %>

<div class="main-boxes">
  <div class="row">
    <%= render @posts %>
  </div>
  
  <!--<div class="apple_pagination">-->
  <!--  <%= will_paginate @posts, container: false %>-->
  <!--</div>-->
</div>
