// .welcome {
//     background-image: url("main_top2.jpg");
// 	background-repeat: no-repeat;
// 	background-height: 100%;
// }


.standard-link {
    font-size: 150%;
    &:hover {    
        color: rgba(69, 161, 71, 1);
        opacity: 0.75;
        text-decoration: none;
    }
}

.under-header-front {
    padding-top: 15px;
    font-size: 150%;
}

.header-front {
    padding-top: 25px;
    font-size: 200%;
}

.main-boxes {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: $primary-color-light;
    border-radius: 4px;
    // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

.main-boxes-top {
    margin-bottom: 20px;
    background-color: $light-gray;
    margin-top: 5px;
}


/* ------
FB INSTAGRAM PART
-----*/

.background-main {
    background-image: image-url("main/background_main.jpg");
    background-repeat: no-repeat;
	.container {
		float: inherit;
		margin: auto;
		.fb, .instagram {
            margin: auto;
		}
		.fb {
		    
		    width: 50%;
		    margin-top: 10px;
		}
		.instagram {
		    width: 67%;
		}
		.instagram, .instagram-header {
		    padding-left: 75px;
		}
		
		.instagram-header {
            margin-bottom: 26px;
		}
		
		h3, h5 {
		    text-align: center;
		    color: $accent-color;
		}

	}
}




/* ------
Produkte Part   HIER BEI  line-height: 235px; weiter
-----*/

.prod-main {
	.white-prod, .blue-prod {
		padding: 10px;
		.container {
			margin: auto;
			margin-top: 40px;
			margin-bottom: 30px;
    		width: 100%;
    		.row {
    		    height: 100%;
    		    margin-top: 0px;
    		}
    		.pic-main-side {
    			width: 120%;
                padding-top: 15px;
    		}
    		.block-heading {
    		    
    		}
    		.block-text {
    		    margin-top: 50px;
    		}
		}
	}
	.white-prod {
		background-color: white;
		.pic-main-field {
		    padding-right:25px;
		}
		.prod-main-field {
		    padding-left: 40px;
            h3:after {
                content: '';
                display: block;
                margin-top: 30px;
                width: 40px;
                border-top: 2px solid #444;
                position: absolute;
                left: 15px;
                margin-left: 70px;
            }
	    }
	    p, h3 {
	        margin-left: 45px;
	    }
	}
	.blue-prod {
	    background-color: $light-gray;
	    .pic-main-field {
		    padding-left:70px;
		}
	    .prod-main-field {
	        text-align: right;
            h3:after {
                content: '';
                display: block;
                margin-top: 30px;
                width: 40px;
                border-top: 2px solid #444;
                position: absolute;
                right: 15px;
            }
	    }
	}
}


/* ------
Untere Matrix
-----*/

.mid-matrix {
    position: relative;
    size: relative;
    margin-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: $light-gray;
}

.heading-matrix {
    margin-bottom: -45px;
}

h2 {
    text-align: center;
}

.fb-page {
    position: relative;
    size: relative;
    margin-top: 10px;
    width: 100%;
}

.inner-maxtrix-single {
    border-radius: 20px !important;
}


.home-grid{
    margin-top: 40px;
    font-weight: 650;
}

.pic-home-grid {
    position: relative;
    size: relative;
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}


.home-grid-link2 {
    font-size: 140%;
    margin-top: 10px;
    font-weight: 650;
    border: none;
    color: #283c86;
    &:hover {
        color: #c2cbb3;
        opacity: 0.75;
        text-decoration: none;
    }
}
