.navbar {
    border-radius: 0;
    margin-top: -2px;
    margin-bottom: 20px;
    background: #F3904F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #45a247 , #283c86); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #45a247 , #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 65px;
    .navbar-brand {
        font-weight: bolder;
        color: $accent-color;
        .light {
            font-weight: 300;
            color: white;
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      color: white !important;
      &.active {
        color: $primary-color-light !important;
      }
      &:hover {
        color: white;
        opacity: 0.75;
        }
    }
    .nav-item.author-nav {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid white;
      }
    }
    .nav {
        font-size: 18px;
        margin-top: 4px;
    }
}

.collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: #45a247;
    a {
        background-color: #45a247;
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }
}

.logo2 {
    float: left;
}