.home-grid{
    margin-top: 40px;
}

.pic-home-grid {
    position: relative;
    size: relative;
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.home-grid-link {
    font-size: 200%;
    margin-top: 20px;
    font-weight: 700;
    border: none;
    color: white;
    &:hover {
        color: #c2cbb3;
        opacity: 0.75;
        text-decoration: none;
    }
}

.mid-matrix {
    position: relative;
    size: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 10px;
}

.heading-matrix {
    margin-bottom: -45px;
}

.well {
    background-color: #45a247 !important;
    border-radius: 10px !important;
}